@keyframes moveFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  /* 80% {
      transform: translateY(-10px);
    } */
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #e7e4e4;
  box-sizing: border-box;
}

.secondary-header {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1.7;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
}

.header-third {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.4;
  color: #777;
}

.paragraph {
  font-size: 1.6rem;
  color: #777;
}
.paragraph:not(:last-child) {
  margin-bottom: 2.4rem;
}

.page-header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.799), rgba(40, 180, 133, 0.799)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.page-header__logo-box {
  position: absolute;
  left: 3rem;
  top: 3rem;
}
.page-header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-logo {
  height: 3rem;
}

.main-header {
  color: #e7e4e4;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
}
.main-header-primary {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.2rem;
  animation-name: moveFromLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.main-header-secondary {
  display: block;
  font-size: 2.2rem;
  letter-spacing: 15px;
  animation-name: moveFromRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(3px);
}
.btn:hover::after {
  box-shadow: 0 5px 15px rgb(41, 40, 40);
  transform: scale(1.1);
}
.btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: inline-block;
  border-radius: 100px;
  transition: all;
  transition-duration: 0.2s;
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn-white::after {
  background-color: #fff;
}

.animated-button {
  animation-name: moveFromBottom;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.section-about {
  margin-top: 5rem;
}

.section-about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  justify-self: center;
  justify-content: center;
}

.section-about__content--text {
  margin-left: 10rem;
  justify-self: center;
}

.composition-box {
  position: relative;
}

.compostion-box-img-1 {
  width: 45%;
  position: absolute;
  outline-offset: 1.5rem;
  transform: translateY(10%);
  background-color: red;
  box-shadow: 1rem 1.5rem 2.4rem rgb(34, 34, 34);
  transition: all 0.2s;
}
.compostion-box-img-1:hover {
  outline: 0.5rem solid #28b485;
  scale: 1.1;
}

.compostion-box-img-2 {
  width: 45%;
  position: absolute;
  outline-offset: 1.5rem;
  position: absolute;
  transform: translate(70%, 30%);
  box-shadow: 1rem 1.5rem 2.4rem rgb(34, 34, 34);
  transition: all 0.2s;
}
.compostion-box-img-2:hover {
  outline: 0.5rem solid #28b485;
  scale: 1.1;
}

.compostion-box-img-3 {
  width: 45%;
  position: absolute;
  outline-offset: 1.5rem;
  transform: translate(30%, 60%);
  box-shadow: 1rem 1.5rem 2.4rem rgb(34, 34, 34);
  transition: all 0.2s;
}
.compostion-box-img-3:hover {
  outline: 0.5rem solid #28b485;
  scale: 1.1;
}

.center-text {
  text-align: center;
}

.center-content {
  margin: 0 auto;
}

.margin-big {
  margin-bottom: 6rem;
}

.margin-medium {
  margin-bottom: 4rem;
}

.margin-small {
  margin-bottom: 1rem;
}

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/*# sourceMappingURL=style.css.map */
