.section-about {
  margin-top: 5rem;
}

.section-about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  justify-self: center;
  justify-content: center;
}

.section-about__content--text {
  margin-left: 10rem;
  justify-self: center;
}

.composition-box {
  position: relative;
}

.compostion-box-img-1 {
  width: 45%;
  position: absolute;
  //   position: absolute;
  outline-offset: 1.5rem;
  transform: translateY(10%);
  background-color: red;
  box-shadow: 1rem 1.5rem 2.4rem rgb(34, 34, 34);
  transition: all 0.2s;
  &:hover {
    outline: 0.5rem solid $dark-green;
    scale: 1.1;
  }
}

.compostion-box-img-2 {
  width: 45%;
  position: absolute;
  //   position: absolute;
  outline-offset: 1.5rem;
  position: absolute;
  transform: translate(70%, 30%);
  box-shadow: 1rem 1.5rem 2.4rem rgb(34, 34, 34);
  transition: all 0.2s;
  &:hover {
    outline: 0.5rem solid $dark-green;
    scale: 1.1;
  }
}

.compostion-box-img-3 {
  width: 45%;
  position: absolute;
  //   position: absolute;
  outline-offset: 1.5rem;
  transform: translate(30%, 60%);
  box-shadow: 1rem 1.5rem 2.4rem rgb(34, 34, 34);
  transition: all 0.2s;
  &:hover {
    outline: 0.5rem solid $dark-green;
    scale: 1.1;
  }
}

.features-section {
  display: flex;
  align-items: center;
  padding: 0 8rem;
  margin-top: 16rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.799),
      rgba($dark-green, 0.799)
    ),
    url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  margin-bottom: 8rem;
  height: 70vh;
}

.fuatures-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}

.fuature-box {
  box-shadow: 0.2rem 0.4rem 1rem rgb(134, 134, 134);
  background-color: rgba(255, 252, 252, 0.816);
  padding: 2.8rem 3.2rem;
  border-radius: 0.3rem;
}

.icon-element {
  font-size: 4rem;
  background-image: linear-gradient(to right, $light-green, $dark-green);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $light-green, $dark-green);
}

.book {
  height: 50rem;
  width: 70%;
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.807) 0%,
      rgba(255, 255, 255, 0.799) 50%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(35, 35, 35, 0.101);
  background-size: 100%;
}

.form_header {
  margin-left: 8rem;
}

.navigation__input {
  opacity: 0;
  visibility: hidden;

  &:checked ~ .nav__background {
    transform: scale(120);
    background-position: center;
    background-size: 100%;
  }
  &:checked ~ .navigation {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 1;
    z-index: 100;
    height: 100%;
  }

  &:checked ~ &_label .menu-icon-list {
    li:last-child {
      opacity: 0;
      visibility: hidden;
    }

    li:first-child {
      transform: rotate(45deg) translate(40%, 400%);
    }

    li:nth-child(2) {
      transform: rotate(-45deg) translate(0%, 20%);
    }
  }
}

.navigation__input_label {
  color: $main-grey;
  padding: 2rem;
  background-color: $light-gray;
  border-radius: 50%;
  position: fixed;
  top: 7rem;
  right: 5rem;
  z-index: 101;
}

.nav__background {
  height: 3rem;
  width: 3rem;
  background-image: radial-gradient($light-green, $dark-green);
  border-radius: 50%;
  position: fixed;
  top: 8.5rem;
  right: 6.5rem;
  z-index: 100;
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigation {
  width: 0;
  height: 0;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  opacity: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: all 0.4s 0.2s;
}

.nav_list {
  list-style: none;

  &_item {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
    &_link:link,
    &_link:visited {
      font-size: 2.2rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $light-gray;
      padding: 1.5rem 4rem;
      background-image: linear-gradient(
        125deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 230%;
      transition: all 0.4s;
    }
    &_link:active,
    &_link:hover {
      color: $main-grey;
      background-position: 100%;
    }
  }
}

.nav_list {
  width: 100%;
}

.menu-icon-list {
  list-style: none;

  li {
    height: 2px;
    width: 2.5rem;
    background-color: $main-grey;
    transition: all 0.2s;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
